################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/70-483 Prep/.vs/70-483 Prep/v15
